:root {
    --primary-color: #29638e ;
    --secondary-color: #f8f9fa;
    --accent-color: #ff6b6b;
    --dark-color: #343a40;
    --light-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
}